<table class="table-primary">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope='row'>{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td><a href="/users/{{user.id}}/edit">Edit</a></td>
      <td><a href="/users">Back</a></td>
    </tr>
  </tbody>
</table>

